@font-face {
	font-family: "fuente";
	src: url("fuente.ttf");
}

* {
    box-sizing: border-box;
    font-family: "fuente", monospace, sans-serif;
    font-size: 13px;
}

body {
    margin: 0px;
    user-select: none;
    background-color: rgb(30, 30, 30);
}

.pantalla, #fondo, .estado {
    width: 332px;
    margin: auto;
}

.pantalla, #fondo {
    height: 420px;
}

.estado {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    display: none;
}

#fondo {
    background-image: url("../imagenes/escenario.png");
    background-repeat: no-repeat;
}

#escenario {
    position: relative;
    top: 70px;
    justify-content: center;
    display: grid;
    gap: 8px;
    grid-template-rows: 64px 64px 64px 64px;
}

#escenario .fila {
    display: grid;
    grid-template-columns: 64px 64px 64px 64px;
    gap: 8px;
}

#escenario .fila .columna {
    overflow: hidden;
}

#panel {
    width: 332px;
    margin-top: 10px;
}

#oro {
    width: 302px;
    margin: 10px auto auto auto;
    border: 4px solid rgb(230, 230, 230);
    padding: 3px;
}

#oro .contenido {
    width: fit-content;
    margin: auto;
}

#oro .bloque {
    display: inline-block;
}

#oro .bloque img, #oro .bloque span {
    vertical-align: middle;
    color: white;
}

#heroes {
    display: flex;
    justify-content: space-around;
}

#heroes button {
    border-width: 0px;
    padding-right: 10px;
}

#heroes button img, #heroes button span {
    vertical-align: middle;
}

#heroes button span {
    margin-left: -5px;
}

#heroes button.activo {
    background-color: rgb(14, 119, 189);
}

#heroes button span.activo {
    color: white;
}

#heroes button:not(.activo) {
    background-color: rgb(230, 230, 230);
    color: black;
}

#heroes button span:not(.activo) {
    color: rgb(43, 43, 43);
}

.mover-enemigo {
    animation-name: mover;
    animation-duration: 900ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}

@keyframes mover {
    from { 
         transform: translateY(0px);
    }
    to { 
        transform: translateY(72px);
    }
}

.contenedor-combate {
    overflow: hidden;
    display: inline-block;
    padding: 5px;
    background-image: url("../imagenes/espada.png");
}

.salud-heroe, .salud-enemigo {
    height: 12px;
}

.salud-heroe {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.salud-enemigo {
    background-color: rgba(255, 123, 0, 0.9);
}

#menu img {
    display: block;
    margin: 10px auto auto auto;
}

#menu button {
    display: block;
    margin: auto;
}

#menu button {
    background-image: url("../imagenes/boton.png");
    border-width: 0px;
    width: 233px;
    height: 41px;
    color: white;
    margin-top: 10px;
}

#menu button:disabled {
    opacity: 0.5;
}

.pantalla.pantalla-activa {
    display: block;
}

.pantalla:not(.pantalla-activa) {
    display: none;
}

#cargando .imagen {
    width: 106px;
    height: 98px;
    background-image: url("../imagenes/cargando.png");
    background-repeat: no-repeat;
    margin: 150px auto auto auto;
}

#contenido-cargando {
    width: fit-content;
    margin: auto;
    transform: translateX(12px);
}

#contenido-cargando .texto-cargando {
    color: white;
}

#contenido-cargando .texto-cargando.transicion {
    opacity: 0;
    font-size: 17px;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#punto-1 {
    animation-name: cargando-1;
}

#punto-2 {
    animation-name: cargando-2; 
}

#punto-3 {
    animation-name: cargando-3;   
}

@keyframes cargando-1 {
    0%{
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cargando-2 {
    0%{
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cargando-3 {
    0%{
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#intro span {
    position: absolute;
    color: white;
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 192px;
    margin-left: 158px;
    opacity: 0;
    animation-duration: 1000ms;
    animation-name: numeros;
}

#n3 {
    animation-delay: 0ms;
}

#n2 {
    animation-delay: 1000ms;
}

#n1 {
    animation-delay: 2000ms;
}

@keyframes numeros {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

#juego .popup.animado {
    animation-duration: 500ms;
    animation-name: aparecer-popup;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes aparecer-popup {
    0% { 
        opacity: 0;
        transform: scale(0.8, 0.8); 
    }
    50% { 
        opacity: 1; 
        transform: scale(1.1, 1.1); 
    }
    100% { 
        opacity: 1; 
        transform: scale(1, 1); 
    }
}

#victoria .popup {
    background-color: rgb(14, 119, 189);
}

#derrota .popup {
    background-color: rgb(224, 69, 45);
}

.popup {
    color: white;
    padding: 30px 15px 30px 15px;
    margin: 140px auto auto auto;
    width: 250px;
    border-bottom: 4px solid black;
}

.popup button {
    padding: 10px 14px 10px 14px;
    display: block;
    margin: auto auto 8px auto;
    border-width: 0px;
    background-color: white;
    color: rgb(30, 30, 30);
}

.popup span {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}